* {
/*  font-family: mono45-headline,monospace;
font-weight: 300;
font-style: normal; */
/* font-family: mono45-headline,monospace;
font-weight: 700;
font-style: normal; */
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-family: mono45-headline,monospace;
font-weight: 300;
font-style: normal;
color: #fff;
width: 100%;
height: 100vh;
overflow: hidden; 
}
ion-icon {
    font-size: 25px;
}

/* NAVBAR */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 30px;
    font-size: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
}
.navbar > div {
    padding: 0 30px;
}
.logo {
    margin: 0 auto 0 38%;
    font-family: mono45-headline,monospace;
font-weight: 700;
font-style: normal;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 1px; 
}
.profile img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
/* CONTENT */
.content {
    position: relative;
    width: 100%;
    height: 100%;
}
.split {
    position: relative;
    width: 50%;
    height: 100%;
    transition: is all cubic-bezier(.87, .76, .33, .98);
    overflow: hidden;
}
.split.left {
    left: 0;
    background:#03658C;
}
.hover-left .split.left{
    width: 60%;
}
.split.right {
    right: 0;
    background:#F2B705;
}
.hover-left .split.right {
    width: 40%;
}
.hover-right .split.right {
    width: 60%;
}
.hover-right .split.left {
    width: 40%;
}
